SECRET_KEY=change-me
DEBUG=False

USE_POSTGRESQL=True
DB_NAME=archerion
DB_USER=archerion
DB_PASSWORD=change-me
DB_HOST=archerion_db
DB_PORT=5432

ALLOWED_HOSTS=127.0.0.1,localhost,archerion-backend,archerion_backend
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOW_CREDENTIALS=True
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

MINIO_ACCESS_KEY=archerion
MINIO_SECRET_KEY=change-me
MINIO_BUCKET_NAME=archerion-media
MINIO_ENDPOINT=http://archerion-minio:9000
